---
layout: post
title: "{{ summary }}"
summary: "{{ summary }}"
description: |
{%- filter indent(width=2) %}
{{ description }}
{%- endfilter %}

location: "{{ location }}"
date: {{ begin }}
duration: {{ duration }}
event_url: {{ event_url }}
---

{{ description }} 
