---
layout: base
pagination:
  enabled: true
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- include calendars.html -%}

  {% if site.pagination.enabled %}
    {% assign events = paginator.posts %}
  {% else %}
    {% assign events = site.data.main.events %}
  {% endif %}

  {% assign curDate = site.time | date: '%s' %}


  {%- if events.size > 0 -%}
      <h2 class="post-list-heading">Upcoming Events</h2>
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%d %B %Y %I:%M:%S %p"  -%}
      {%- for event in events -%}

      {% assign postStartDate = event.date | date: '%s' %}
        {% if postStartDate >= curDate %}

          <li>
            <span class="post-meta">{{ event.date | date: date_format }}</span>
            
            {%- if event.url -%}
            <h3>
              <a class="post-link" href="{{ event.url | absolute_url }}">
                {{ event.summary | escape }}
              </a>
            </h3>
            {%- else -%}
            <h3>
                  {{ event.summary | escape }}
            </h3>
            {%- endif -%}
              {{ event.description }}
            <ul>
                <li>
                    <strong>Location:</strong> {{ event.location | escape }}
                </li>
                <li>
                    <strong>Duration:</strong> {% include duration.html duration = event.duration %}
                </li>
            </ul>

          </li>
        {%- endif -%}
      {%- endfor -%}
    </ul>

    {% if site.pagination.enabled %}
    {% if paginator.total_pages > 1 %}
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; Prev</a>
      {% else %}
        <span>&laquo; Prev</span>
      {% endif %}
    
      {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
          <em>{{ page }}</em>
        {% elsif page == 1 %}
          <a href="{{ '/' | relative_url }}">{{ page }}</a>
        {% else %}
          <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
        {% endif %}
      {% endfor %}
    
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | relative_url }}">Next &raquo;</a>
      {% else %}
        <span>Next &raquo;</span>
      {% endif %}
    </div>
    {% endif %}
    {%- endif %}

  {%- endif -%}

</div>
